@import "grid";
@import "header";
@import "main";
@import "aside";
@import "footer";
@import "_reset";

body{
    font-size: 20px;
    max-width:1200px;
    font-family: "Avenir Next", "Avenir", sans-serif;
    margin: 0 auto 0 auto;
    padding: 0;
    background: #eee;
}

*,*::after,*::before{
    box-sizing: border-box;
}