$text-primary: #000;
$text-secondary:#FFF;
$main: #00acc1;
$main-light:#5ddef4;
$main-dark:#007c91;
$secondary:#3f51b5;
$secondary-light:#757de8;
$secondary-dark: #002984;

@mixin screen-lg{
    @media screen and (max-width: 780px){
        @content
    }
}