/* line 2, ../sass/aside.scss */
aside {
  background: #fff;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

/* line 8, ../sass/aside.scss */
.user-info {
  background: #002984;
  max-height: 500px;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 13, ../sass/aside.scss */
.user-info img {
  width: 100%;
  height: auto;
}
/* line 17, ../sass/aside.scss */
.user-info h3 {
  font-style: italic;
  color: #FFF;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

/* line 25, ../sass/aside.scss */
.user-social {
  padding: 0.5rem;
  font-size: 1.1rem;
}

/* line 30, ../sass/aside.scss */
.user-social-icons {
  display: flex;
  justify-content: space-around;
}
/* line 33, ../sass/aside.scss */
.user-social-icons a {
  color: #000;
  font-size: 1.5rem;
}

/* line 40, ../sass/aside.scss */
.subscribe .input-controll {
  padding: 0.5rem;
  margin-bottom: 0.6rem;
}
/* line 43, ../sass/aside.scss */
.subscribe .input-controll lable {
  display: block;
  margin-bottom: 0.2rem;
}
/* line 47, ../sass/aside.scss */
.subscribe .input-controll input {
  width: 100%;
  height: 1.5rem;
  padding: 3px;
}
/* line 52, ../sass/aside.scss */
.subscribe .input-controll button {
  width: 80%;
  font-size: 1.3rem;
}
/* line 58, ../sass/aside.scss */
.subscribe .button {
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
}

/* line 64, ../sass/aside.scss */
.aside-search {
  margin: 0.3rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}
/* line 69, ../sass/aside.scss */
.aside-search button {
  width: 20%;
  height: 25px;
}
/* line 74, ../sass/aside.scss */
.aside-search input {
  width: 75%;
  margin: 0px;
  padding: 3px;
}

/* line 81, ../sass/aside.scss */
.tags {
  margin: 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 88, ../sass/aside.scss */
.tags span {
  padding: 5px;
  border-radius: 6px;
  color: #FFF;
  background: #3f51b5;
  margin-left: 0.3rem;
  margin-bottom: 0.6rem;
  font-size: 1rem;
}

/* line 99, ../sass/aside.scss */
h3 {
  width: 100%;
  text-align: center;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
}

/* line 107, ../sass/aside.scss */
.comments {
  margin: 0.6rem;
  margin-top: 0.6rem;
  margin-bottom: 0rem;
}

/* line 113, ../sass/aside.scss */
.comment {
  background: #EEE;
  width: 100%;
  max-height: 100px;
  overflow: hidden;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 4px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
}
/* line 125, ../sass/aside.scss */
.comment img {
  width: 40%;
  height: auto;
  display: block;
  border-radius: 50%;
  margin: auto;
}
/* line 133, ../sass/aside.scss */
.comment .img-wrapper {
  display: flex;
  width: 30%;
  border-right: 1px solid #000;
}

/* line 140, ../sass/aside.scss */
.comment-block {
  display: flex;
  flex-direction: column;
  padding: 4px;
  width: 70%;
}
/* line 146, ../sass/aside.scss */
.comment-block h4 {
  margin: 0;
  font-style: italic;
}
/* line 150, ../sass/aside.scss */
.comment-block span {
  margin-top: 1rem;
  display: inline-block;
  max-width: 300px;
  font-size: 1.1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 780px) {
  /* line 164, ../sass/aside.scss */
  .comment img {
    width: 60%;
  }
}
/* line 170, ../sass/aside.scss */
.subscribe .input-controll button, .aside-search button {
  cursor: pointer;
}
