/* line 3, ../sass/header.scss */
header {
  position: sticky;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  min-height: 100px;
  grid-template-areas: "menu social" "logo logo";
  background: #00acc1;
  color: #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 1.5rem;
}

/* line 17, ../sass/header.scss */
.social {
  grid-area: social;
  display: flex;
  flex-direction: row-reverse;
  -ms-flex-direction: column-reverse;
  align-items: center;
}
/* line 23, ../sass/header.scss */
.social .search {
  margin-right: 1.2rem;
  padding-left: 8px;
  opacity: 1;
  display: initial;
}
/* line 29, ../sass/header.scss */
.social a {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
  margin-right: 1rem;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  display: none;
}
/* line 39, ../sass/header.scss */
.social a:hover {
  opacity: 1;
}

/* line 46, ../sass/header.scss */
.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* line 53, ../sass/header.scss */
.menu {
  position: relative;
  padding-top: 0.8rem;
  padding-left: 0.8rem;
  grid-area: menu;
  display: block;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
/* line 65, ../sass/header.scss */
.menu input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 3;
  -webkit-touch-callout: none;
}
/* line 81, ../sass/header.scss */
.menu span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000;
  border-radius: 3px;
  z-index: 2;
  transform-origin: 4px 0px;
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
/* line 100, ../sass/header.scss */
.menu input:checked ~ span {
  opacity: 1;
  background: #FFF;
}
/* line 104, ../sass/header.scss */
.menu input:checked ~ ul {
  z-index: 1;
  transform: none;
}
/* line 109, ../sass/header.scss */
.menu input:checked ~ ul a:hover {
  color: #000;
}

/* line 116, ../sass/header.scss */
.menu-items {
  position: absolute;
  width: 100vw;
  height: auto;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #3f51b5;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
/* line 133, ../sass/header.scss */
.menu-items li {
  padding: 10px 0px 0px 10px;
}
/* line 137, ../sass/header.scss */
.menu-items a {
  text-decoration: none;
  color: #FFF;
}

@media (min-width: 780px) {
  /* line 145, ../sass/header.scss */
  header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo social" "logo menu";
  }

  /* line 151, ../sass/header.scss */
  .menu {
    display: flex;
    flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 0;
  }
  /* line 158, ../sass/header.scss */
  .menu input {
    display: none;
  }
  /* line 161, ../sass/header.scss */
  .menu span {
    display: none;
  }

  /* line 166, ../sass/header.scss */
  .menu-items {
    transform: none;
    position: relative;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    background: transparent;
  }
  /* line 175, ../sass/header.scss */
  .menu-items a {
    display: inline-block;
    margin-right: 1.2rem;
    color: #000;
  }
  /* line 179, ../sass/header.scss */
  .menu-items a:hover {
    text-decoration: underline;
  }

  /* line 185, ../sass/header.scss */
  .social a {
    display: inline;
  }
  /* line 188, ../sass/header.scss */
  .social .search {
    border-left: 2px solid #000;
  }

  /* line 192, ../sass/header.scss */
  .logo {
    justify-content: flex-start;
    margin-left: 2rem;
  }
}
